---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro'
import Introduction from '../components/Introduction.astro'
import Bento from '../components/Bento.astro'
import Prefooter from '../components/Prefooter.astro'
import Footer from '../components/Footer.astro'
---

<Layout
	title="Premios ESLAND 2204 - Celebrando lo mejor del streaming y los creadores de conteinido"
	description="Descubre los mejores creadores de contenido de Latinoamérica, España y Andorra. ¡Vota por tus favoritos! Celebra la innovación y el talento de Twitch, YouTube y mas."
	>
	<Video />
	<>
		<Introduction />
		<Bento />
		<Prefooter />
	</main>
	<Footer />
</Layout>

<style>
</style>
