---
---

<section class="w-full p-20 max-w-[1400px] mx-auto">

    <h3 class="uppercase text-center tracking-wide font-semibold mb-10 text-balance text-4xl ">Guia de la 3ª Edición de los premios esland</h3>

    <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-xl"
    videoid="nYPVr2IYTtk"
    videotitle=""
    >
    </lite-youtube>


</section>

<script>
    import  '@justinribeiro/lite-youtube'
</script>